body {
font-family: Arial, sans-serif;
padding: 20px;
}


h1 {
color: #000000;
background-color: aqua;
}


input {
padding: 10px;
width: 250px;
font-size: 16px;
margin-right: 10px;
}


button {
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
color: #ff1100;
margin-bottom: 50px;
}

div {
    padding: 20px;
}